:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100%;
    width: 100%;
    /* overscroll-behavior: contain; */
}

canvas {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* -webkit-overflow-scrolling: touch; */
    /* overflow: hidden; */}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(./res/font/AbrilFatface-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
